//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the faq page.
// -----------------------------------------------------------------------------
.section-faq {
  padding-top: 72px;

  .info-holder {
    display: flex;
    align-items: center;
    padding: 0 0 70px;

    .info {
      width: 700px;

      text-align: center;

      .title {
        padding-bottom: 13px;

        font-family: $text-spectral-medium;
        font-size: 29px;
        letter-spacing: -.5px;
      }

      .description {
        font-family: $text-spectral-regular;
        font-size: 16px;
        letter-spacing: -1.2px;
      }
    }

    .image-holder {
      position: relative;
      top: 24px;
      right: -30px;
      
      .logo {
        width: 245px;
      }
    }
  }

  .content-holder {
    margin-top: -70px;

    .faq-navigation {
      position: sticky;
      top: 85px;

      width: 165px;

      line-height: 1.35;

      .list-item {
        padding: 8px 0;

        font-family: $text-spectral-regular;
        font-size: 15px;
        color: $faq-nav-item;

        border: none;

        cursor: pointer;
      }

      .active-js::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -12px;

        width: 25px;
        height: 2px;
        
        background-color: $red-orange;
        
        opacity: 1;
        transition: 0.2s ease-in-out;
        transform: translateX(-50%) rotate(90deg); 
      }

      .active-js {
        position: relative;

        color: $violet;

        background-color: transparent;

        pointer-events: none;
      }
    }

    .faq-content {
      padding-left: 210px;
      margin-top: -270px;
      
      .content-holder {
        margin-top: 85px;

        .title {
          padding-left: 10px;

          font-family: $text-spectral-medium;
          font-size: 26px;
          color: $title-accordion;
        }

        &:first-child {
          padding-top: 85px;
          margin-top: 0;
        }

        &:nth-child(2) {
          padding-top: 85px;
          margin-top: 0;
        }

        &:nth-child(3) {
          padding-top: 85px;
          margin-top: 0;
        }

        &:nth-child(4) {
          padding-top: 85px;
          margin-top: 0;
        }

        &:last-child {
          padding-top: 85px;
          margin-top: 0;
        }
      }
    }

    .accordion {
      .card {
        border: none;
      }

      .card-header {
        position: relative;

        padding: 0;

        background-color: transparent;
        border: none;
      }

      .card-body {
        padding: 0 139px 66px 10px;

        font-family: $text-spectral-regular;
        font-size: 16px;
        letter-spacing: -1px;
        line-height: 1.38;

        border-bottom: 3px solid $pastel-yellow;
      }

      .btn-link:hover {
        color: $red-orange;
        text-decoration: none;

        background-color: $pastel-yellow;
      }

      .btn-link:focus {
        color: $red-orange;
        text-decoration: none;

        background-color: $pastel-yellow;
      }

      .btn-link::before {
        content: "";

        position: absolute;
        top: 50%;
        right: 0;

        width: 25px;
        height: 3px;
        
        background-color: $dark-blue;

        transition: 0.2s ease-in;
      }

      .btn-link:hover::before {
        background-color: $red-orange;
      }

      .btn-link:hover::after {
        background-color: $red-orange;
      }

      .btn-link::after {
        content: "";

        position: absolute;
        top: 50%;
        right: 0;

        width: 25px;
        height: 3px;
        
        background-color: $dark-blue;

        transition: 0.2s ease-in;
        transform: rotate(90deg);
      }

      .btn-link[aria-expanded="true"]:after {
        background-color: $red-orange;

        transform: initial;
      }
    }
  }
}

@include respond-to(sm) {
  .section-faq {
    .info-holder {
      .info {
        margin-bottom: 25px;

        .title {
          font-size: 24px;
        }

        .description {
          font-size: 12px;
        }
      }

      .image-holder {
        position: relative;
        right: -5px;

        .logo {
          width: 170px;
        }
      }
    }

    .content-holder {
      .faq-navigation {
        .list-item {
          font-size: 12px;
        }
      }
      
      .faq-content {
        padding-left: 170px;
        margin-top: -220px;

        .content-holder {
          .title {
            font-size: 15px;
          }

          &:first-child {
            padding-top: 45px;
          }
  
          &:nth-child(2) {
            padding-top: 35px;
          }
  
          &:nth-child(3) {
            padding-top: 35px;
          }
  
          &:nth-child(4) {
            padding-top: 35px;
          }
  
          &:last-child {
            padding-top: 35px;
          }
        }
      }

      .accordion {
        .card-body {
          padding: 0 0 66px 10px;
        }
      }
    }
  }
}

@include respond-to(xs) {
  .section-faq {
    .info-holder {
      .info {
        .title {
          font-size: 24px;
        }

        .description {
          font-size: 12px;
        }
      }

      .image-holder {
        position: relative;
        right: -5px;

        .logo {
          width: 120px;
        }
      }
    }

    .content-holder {
      .faq-navigation {
        width: 50px;
        
        .list-item {
          font-size: 12px;
        }
      }

      .faq-content {
        padding-left: 80px;
        margin-top: -220px;

        .content-holder {
          .title {
            font-size: 15px;
          }

          &:first-child {
            padding-top: 0;
          }
  
          &:nth-child(2) {
            padding-top: 25px;
          }
  
          &:nth-child(3) {
            padding-top: 25px;
          }
  
          &:nth-child(4) {
            padding-top: 25px;
          }
  
          &:last-child {
            padding-top: 25px;
          }
        }
      }

      .accordion {
        .card-body {
          padding: 0 0 66px 10px;
        }
      }
    }
  }
}