//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.scroll-active-js {
  position: fixed;
  top: 0;
  right: 0; 
  left: 0;
  z-index: 9;

  padding-top: 12px;
  width: 100%;
  height: 86px;
  
  transition: all 0.5s ease-out;
}

.active {
  background-color: $white;
}

.nav-link {
  font-family: $text-spectral-regular;
  font-size: 16px;
  color: $violet;
}

.nav-link:hover {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 8px;
    right: 1px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
  }

  &:hover:before {
    background-color: $violet;
  }

  &:focus::before {
    background-color: transparent;
  }
}

.nav-link {
  position: relative;
  &:focus {
    color: $red-orange;
  }
  &:focus:before {
    content: "";
    position: absolute;
    top: 6px;
    right: -2px;
    width: 11px;
    height: 11px;
    background-color: transparent;
    background-image: url("../assets/images/header-active-icon.svg");
    background-repeat: no-repeat;
  }
}

.navbar-toggler {
  .icon-bar {
    background-color: $violet;
  }
}