.sleep {
  .section-science-sleep {
    padding: 78px 0;
    background-color: $pastel-yellow;
    .content-wrapper {
      .title {
        margin-bottom: 67px;
        margin-left: -28px;
  
        letter-spacing: -1px;
        font-size: 30px;
        font-family: $font-Spectral-Regular;
        text-align: center;
        color: $purple;
      }
  
      .sub-heading {
        margin: 20px 0;
        
        font-family: $font-Spectral-Regular;
        color: $purple;
      }
      .description {
        font-family: $font-Spectral-Regular;
        color: $purple;
      }
    }
  }
}

//1199 - 992
@include respond-to(lg) {

}

//991 - 768 
@include respond-to(md) {
  .sleep {
    .section-science-sleep {
      .content-holder {
        img {
            max-width: 100%;
        }
      }
    }
  }
}

//767 - 576
@include respond-to(sm) {
  .sleep {
    .section-science-sleep {

      .title {
        font-size: 25px;
      }
      
      padding: 20px 0;
      .content-wrapper {
        padding: 0;

        .sub-heading {
          font-size: 20px;
        }

        .content-holder {
          margin-left: auto;
          margin-right: auto;
          max-width: 80%;

          img {
            max-width: 100%;
          }
        }
  
        .title {
          margin: 20px 0;
          width: 80%;
          margin-left: auto;
          margin-right: auto;
  
          font-size: 20px;
        }
      }
    }
  }
}

//575 - 320
@include respond-to(xs) {
  .sleep {
    .section-science-sleep {

      .title {
        font-size: 25px;
      }

      padding: 20px 0;
      .content-wrapper {
        padding: 0;
        .content-holder { 
          text-align: center;
          
          img {
            max-width: 100%;
          }
        }
  
        .title {
          margin: 20px 0;
          width: 80%;
          margin-left: auto;
          margin-right: auto;
  
          font-size: 20px;
        }
      }
    }
  }
}
