.section-ratings {
  padding: 43px 0 83px;

  .title {
    margin-bottom: 0;
    font-family: $text-spectral-medium;
    font-size: 29px;
    color: $violet;
    line-height: 43px;
    text-align: center;
  }

  .rating {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .rating-holder {
    width: 165px;
  }

  .rating-star {
    --rating: 4.7;
    --percent: calc(var(--rating) / 5 * 100%);
    display: block;
    font-size: var(--star-size);
    text-align: center;
    line-height: 1;
  }

  .rating-star::before {
    content: "★★★★★";
    letter-spacing: 0;
    font-size: 26px;
    color: $purple;
  }

  .rating-link {
    margin-top: 3px;
    font-family: $text-spectral-regular;
    font-size: 14px;
    color: $violet;
    line-height: 20px;
    text-align: center;
  }
}