//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the testimonials section.
// -----------------------------------------------------------------------------


.section-testimonials {
  padding: 62px 0 90px 0;

  text-align: center;

  background-color: $pastel-yellow;

  .title {
    padding-bottom: 48px;

    font-family: $font-Spectral-Medium;
    font-size: 32px;
    letter-spacing: -2.5px;
  }

  .image-holder {
    margin: 0 auto 26px;
    width: 68px;
  }

  .logo-desc {
    margin: 10px 0 16px;

    font-family: $text-spectral-regular;
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 24px;
  }
}