//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the section questions answered.
// -----------------------------------------------------------------------------

.section-questions-answered {
  background-color: $violet;

  .title {
    margin-bottom: 0;

    font-family: $font-Spectral-Medium;
    font-size: 29px;
    color: $violet;
    text-align: center;
    line-height: 43px;
  }

  .content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 102px 0;

    .content-holder {
      &:nth-child(1) {
        width: 405px;
      }

      &:nth-child(2) {
        width: 280px;
      }

      .title{
        position: absolute;

        padding: 103px 0 0 17px;
  
        font-size: 13px;
        color: $red-orange;
      }

      .btn-yellow:hover {
        color: $white;
  
        background-color: $purple;
      }

      .swiper-container {
        width: 440px;
        margin: 150px 0 0 -9px;
        width: 440px;
  
        .swiper-slide {
          width: 440px;
          height: 100%;
  
          .quote {
            position: relative;
            
            padding: 0 18px;
            width: 440px;
  
            font-family: $font-Spectral-Medium;
            font-size: 47px;
            color: $white;
          }
  
          .quote:before {
            position: absolute;
            left: 0px;
  
            content: "“";
          }
  
          .quote:after {
            position: absolute;
  
            content: "”";
          }
        }
      }
  
      .desc {
        margin: 30px 0 41px 0;
        width: 300px;
  
        font-size: 13px;
        color: $white;
      }

      .btn-yellow {
        width: 173px;
        height: 45px;
      }

      .doctor-image {
        .doctor-border {
          position: absolute;

          margin: 128px 0 0 0;

          &:before {
            content: "";

            position: absolute;
            top: 15px;
            left: 17px;
            z-index: 0;

            width: 260px;
            height: 344px;

            background-color: $title-accordion;
          }
        }

        .image {
          position: relative;

          width: 260px;
          height: 344px;
        }
      }

      .doctor-name {
        margin: 500px 0 0 10px;
        
        font-size: 13px;
        color: $white;
      }
    }
  }
}

@include respond-to(md) {
  .section-questions-answered {
    .content-wrapper {
      .content-holder {
        &:nth-child(1) {
          width: 420px;
          margin: auto;
        }

        &:nth-child(2) {
          width: 280px;
          margin: auto;
        }

        .doctor-name {
          margin: 500px 0 0 16px;
        }
      }
    }
  }
}

@include respond-to(sm) {
  .section-questions-answered {
    .content-wrapper {
      flex-direction: column-reverse;

      .content-holder {
        &:nth-child(1) {
          width: 420px;
          margin: auto;
        }

        &:nth-child(2) {
          margin: auto;
          width: 280px;
        }

        .doctor-border {
          margin: 126px 0 0 0;
        }

        .doctor-name {
          margin: 500px 0 0 15px;
        }

        .swiper-container {
          width: 420px;
          margin: 150px 0 0 0;

          .swiper-slide {
            width: 420px;
          }
        }
      }
    }
  }
}

@include respond-to(xs) {
  .section-questions-answered {
    .content-wrapper {
      flex-direction: column-reverse;

      .content-holder {
        &:nth-child(1) {
          width: 300px;
          margin: auto;
        }

        &:nth-child(2) {
          margin: auto;
          width: 280px;
        }

        .doctor-border {
          margin: 100px 0 0 0;
        }

        .doctor-name {
          margin: 485px 0 0 15px;
        }

        .title{
          padding: 75px 0 0 17px;
        }

        .swiper-container {
          width: 300px;
          margin: 120px 0 0 0;

          .swiper-slide {
            width: 300px;

            .quote {
              width: 300px;

              font-size: 31px;
            }
          }
        }

        .desc {
          width: 270px;
          margin: 10px auto 40px;
        }
      }
    }
  }
}