//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the ratings layout.
// -----------------------------------------------------------------------------

.section-ratings {
  padding: 43px 0 83px;

  --star-size: 60px;
  --star-color: #F4F2F9;
  --star-background: #404082;

  .title {
    margin-bottom: 0;

    font-family: $font-spectral-medium;
    font-size: 29px;
    color: $violet;
    text-align: center;

    line-height: 43px;
  }

  .rating {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .rating-holder {
    text-align: center;
  }

  .rating-star {
    --percent: calc(var(--rating) / 5 * 100%);
    display: block;

    font-size: var(--star-size);
    font-family: Times; 
    line-height: 1;

    &:before {
      content: "★★★★★";


      font-size: 26px;
      letter-spacing: 0;

      background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:first-child {
      --rating: 4.7;
    }

    &:nth-child(2) {
      --rating: 4.8;
    }

    &:nth-child(3) {
      --rating: 4.7;
    }
  }

  .rating-link {
    margin-top: 3px;

    font-family: $font-Spectral-Regular;
    font-size: 14px;
    color: $violet;
    text-align: center;
    line-height: 20px;
  }
}

@include respond-to(sm) {
  .section-ratings {
    .rating {
      display: block;
      width: 100%;
    }
  }
}

@include respond-to(xs) {
  .section-ratings {
    .rating {
      display: block;
      width: 100%;
    }
  }
}