//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the section anxiety solutions.
// -----------------------------------------------------------------------------

.section-anxiety-solutions {
  background-color: $lavender;

  .image-holder {
    margin-left: auto;
    max-width: 85%;
  }

  .content {
    padding-top: 28px;
    margin-left: 144px;
    max-width: 354px;
  }

  .title {
    margin-top: 15px;
    margin-bottom: 30px;
  }
  
  .btn-navy {
    width: auto;
    height: auto;
    padding: 7px 34px;
  }
}

@include respond-to(md) { 
  .section-anxiety-solutions {
    .title {
      margin: 15px 0;
      max-width: 100%;

      font-size: 24px;
    }

    .content {
      padding: 55px 15px;
      margin: 0;
      
      width: 100%;
      height: auto;
    }

    .image-holder {
      margin-left: 10px;
      
      img {
        padding: 0;
        max-width: 100%;
      }
    }
  }
}

@include respond-to(sm) {
  .section-anxiety-solutions {
    .title {
      margin: 15px 0;
      max-width: 100%;

      font-size: 24px;
    }

    .content {
      padding: 55px 15px;
      margin: 0;
      width: 100%;
      height: auto;
    }

    .image-holder {
      display: none;
    }
  }
}

@include respond-to(xs) { 
  .section-anxiety-solutions {
    .title {
      margin: 15px 0;
      max-width: 100%;

      font-size: 24px;
    }

    .content {
      padding: 55px 15px;
      margin: 0;
      width: 100%;
      height: auto;
    }

    .image-holder {
      display: none;
    }
  }
}
