//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn-newsletter {
  right: 22px;
  top: 252px;
  position: absolute;

  width: 35px;
  height: 32px;

  background-color: $dark-blue;
  border: 1px $dark-blue;
}

.btn-newsletter:hover {
  background-color: $white;
  border: 2px $dark-blue;
}