//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn-yellow {
  width: 156px;
  height: 41px;

  font-family: $text-spectral-regular;
  font-size: 16px;
  color: $violet;
  text-align: center;
  letter-spacing: -1px;

  background-color: $pastel-yellow;
  border: none;
}

.btn-navy {
  width: 156px;
  height: 41px;

  font-family: $text-spectral-regular;
  font-size: 16px;
  color: $violet;
  text-align: center;
  letter-spacing: -1px;

  background-color: $violet;
  border: none;
}