//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
  
  .section-hero {
    position: relative;
    top: 0;
    
    padding: 146px 0 151px 14px;

    background-image: url("../assets/images/homepage-hero.jpg");
    background-position: center;
    background-size: cover;

    .title {
      margin-bottom: 13px;
      width: 249px;

      font-family: $text-spectral-medium;
      font-size: 37px;
      color: $violet;
      letter-spacing: -1.7px;
      
      line-height: 1.2;
    }

    .description {
      padding-bottom: 43px;
      width: 308px;

      font-family: $text-spectral-regular;
      font-size: 18px;
      color: $violet;
      letter-spacing: -1.4px;
    }
  }

  .section-press {
    background-color: $violet;

    .logo-holder {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 86px 0 83px 0;
      margin: 0 auto;
      width: 660px;

      .image-holder {
        &:first-child {
          padding-left: 16px;
        }

        &:nth-child(2) {
          padding-left: 0;
        }

        &:nth-child(3) {
          padding-left: 0;
        }

        &:nth-child(4) {
          padding-left: 0;
        }
      }
    }
  }

  .section-help-products {
    padding: 58px 0 0 0;
    .text-holder {
      text-align: center;

      .title {
        margin-bottom: 13px;
  
        font-family: $text-spectral-medium;
        font-size: 32px;
        letter-spacing: -2.5px;
      }
  
      .description {
        font-family: $text-spectral-regular;
        font-size: 14px;
      }
    }

    .product-holder {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 50px auto 20px;
      width: 580px;

      .item {
        font-family: $text-spectral-regular;
        font-size: 19px;
        text-align: center;

        .prod-image {
          padding-bottom: 17px;
        }

        .item-desc{
          color: $black;
        }
      }
      
      .item:hover {
        text-decoration: none;
      }

      .item:hover {
        text-decoration: none;
      }
    }
  }

  .section-personalized {
    background-color: $pastel-grey;

    .title {
      width: 330px;
      margin-top: 18px;

      line-height: 41px;
    }
    
    .content {
      height: 357px;
      margin: 122px 0 0 162px;
    }

    .image-holder {
      margin-left: 80px;
    }

    .treatment-list {
      position: relative;
      
      margin-bottom: 10px;

      list-style: none;
      line-height: 28px;

      &:before {
        position: absolute;
        
        margin-right: 12px;
        width: 18px;
        height: 18px;

        line-height: 1.6;
        text-align: center;
        font-size: 12px;
        color: $white;

        background-color: $pastel-blue;
        border-radius: 100%;
      }

      &:nth-child(1):before {
        content: '1';
        top: 6px;
        left: -30px;
      }
      
      &:nth-child(2):before {
        content: '2';
        top: 6px;
        left: -30px;

        margin-right: 12px;
      }

      &:nth-child(3):before {
        content: '3';
        top: 6px;
        left: -30px;

        margin-right: 12px;
      }
    }
  }

  .section-quotation-slider {
    background-color: $tortoise;

    .swiper-container {
      height: 44vh;

      .swiper-slide {
        padding-top: 55px;
        width: 500px;

        text-align: center;
        font-size: 30px;
        font-family: $font-Spectral-Medium;
      }
      
      .content-holder {
        width: 500px;
        margin-left: auto;
        margin-right: auto;

        .content-swiper {
          color: $pastel-pink;
          font-size: 30px;
        }
        
        .bottom-text {
          font-size: 18px;
          color: $pastel-pink;
        }
      }

      .swiper-pagination-bullet {
        background-color: $pastel-pink;
      }

      .swiper-pagination-bullets {
        top: 290px;
      }
    }
    .bottom-reviews {
      margin-top: -90px;
      padding-bottom: 50px;

      color: $pastel-pink;
      font-size: 17px;
      font-family: $font-Spectral-Medium;
      
    }
  }

  .section-sleep-solutions {
    background-color: $pastel-yellow;

    .image-holder {
      max-width: 90%;
      margin-left: auto;
    }

    .content {
      height: 313px;
      max-width: 65%;
      margin-left: 10px;
    }

    .title {
      margin: 35px 0;
      max-width: 200px;
    }
  }

  .section-anxiety-solutions {
    background-color: $lavender;

    .image-holder {
      max-width: 85%;
      margin-left: auto;
    }

    .content {
      max-width: 354px;
      margin-left: 144px;
    }

    .title {
      margin: 30px 0;
    }
  }

  .section-questions-answered {
    padding: 43px 0 83px;
    
    background-color: $violet;

    .title {
      margin-bottom: 0;
      font-family: $text-spectral-medium;
      font-size: 29px;
      color: $violet;
      line-height: 43px;
      text-align: center;
    }

    .content-wrapper {
      display: flex;
      flex-direction: row;
      padding: 0 0 122px 0;
      .content-holder {
        &:nth-child(1) {
          width: 50%
        }

        &:nth-child(2) {
          width: 50%
        }

        .title{
          position: absolute;

          padding: 112px 0 2px 6px;
    
          color: $red-orange;
          font-size: 14px;
        }
    
        .swiper-container {
          margin: 150px 0 0 -9px;
    
          .swiper-slide {
            width: 480px;
            height: 100%;
    
            .quote {
              position: relative;
              
              width: 440px;
              padding: 0 18px;
    
              font-family: $font-Spectral-Medium;
              font-size: 47px;
              color: $white;
              text-align: left;
            }
    
            .quote:before {
              position: absolute;
              left: 0px;
    
              content: "“";
            }
    
            .quote:after {
              position: absolute;
    
              content: "”";
            }
          }
        }
    
        .desc {
          width: 300px;
          margin: -25px 0 58px 6px;
    
          color: $white;
          font-size: 13px;
        }

        .doctor-image{
          .doctor-border{
            position: absolute;

            margin: 136px 0 0 222px;
            width: 256px;
            height: 348px;
  
            background-color: $purple;
          }

          .image{
            position: relative;

            margin: 126px 0 0 203px;
          }
        }

        .doctor-name {
          margin: 29px 0 0 225px;
          
          color: $white;
          font-size: 13px;
        }
      }
    }
  }
  
  .section-ratings {
    padding: 43px 0 83px;

    --star-size: 60px;
    --star-color: #F4F2F9;
    --star-background: #404082;

    .title {
      margin-bottom: 0;
      font-family: $text-spectral-medium;
      font-size: 29px;
      color: $violet;
      line-height: 43px;
      text-align: center;
    }

    .rating {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
    }

    .rating-holder {
      text-align: center;
      width: 165px;
    }

    .rating-star {
      --percent: calc(var(--rating) / 5 * 100%);
      display: block;
      font-size: var(--star-size);
      font-family: Times; 
      line-height: 1;

      &:before {
        content: "★★★★★";
        font-size: 26px;
        letter-spacing: 0;
        background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &:first-child {
        --rating: 4.7;
      }

      &:nth-child(2) {
        --rating: 4.8;
      }

      &:nth-child(3) {
        --rating: 4.7;
      }
    }

    .rating-link {
      margin-top: 3px;
      font-family: $text-spectral-regular;
      font-size: 14px;
      color: $violet;
      line-height: 20px;
      text-align: center;
    }
  }

  .section-testimonials {
    padding: 62px 0 90px 0;

    text-align: center;

    background-color: $pastel-yellow;

    .title {
      padding-bottom: 48px;

      font-family: $text-spectral-medium;
      font-size: 32px;
      letter-spacing: -2.5px;
    }

    .image-holder {
      margin: 0 auto 26px;
      width: 68px;
    }

    .logo-desc {
      margin: 10px 0 16px;
      font-family: $text-spectral-regular;
      font-size: 16px;
      letter-spacing: -0.2px;
      line-height: 24px;
    }
  }
}

