//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
  
  .section-hero {
    position: relative;
    top: 0;
    
    padding: 146px 0 151px 14px;

    background-image: url("../assets/images/homepage-hero.jpg");
    background-position: center;
    background-size: cover;

    .title {
      margin-bottom: 13px;
      width: 249px;

      font-family: $font-Spectral-Medium;
      font-size: 37px;
      color: $violet;
      letter-spacing: -1.7px;
      line-height: 1.2;
    }

    .description {
      padding-bottom: 43px;
      width: 308px;

      font-family: $font-Spectral-Regular;
      font-size: 18px;
      color: $violet;
      letter-spacing: -1.4px;
    }
  }

  .section-press {
    background-color: $violet;

    .logo-holder {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 86px 0 83px 0;
      margin: 0 auto;
      width: 660px;

      .image-holder {
        &:first-child {
          padding-left: 16px;
        }

        &:nth-child(2) {
          padding-left: 0;
        }

        &:nth-child(3) {
          padding-left: 0;
        }

        &:nth-child(4) {
          padding-left: 0;
        }
      }
    }
  }

  .section-help-products {
    padding: 58px 0 50px 0;

    .title {
      margin-bottom: 13px;
      
      font-family: $font-Spectral-Medium;
      font-size: 32px;
      text-align: center;
      letter-spacing: -2.5px;
    }

    .description {
      font-family: $font-Spectral-Regular;
      font-size: 14px;
      text-align: center;
    }

    .product-holder {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 50px auto 20px;
      width: 580px;

      .item {
        font-family: $font-Spectral-Regular;
        font-size: 19px;
        text-align: center;

        .prod-image {
          padding-bottom: 17px;
        }

        .item-desc{
          color: $black;
        }
      }
      
      .item:hover {
        text-decoration: none;
      }

      .btn-yellow {
        width: 200px;
        height: 45px;
      }
    }
  }

  .section-personalized {
    background-color: $pastel-grey;

    .title {
      width: 330px;
      margin-top: 18px;

      line-height: 41px;
    }
    
    .content {
      height: 357px;
      margin: 122px 0 0 162px;
    }

    .image-holder {
      margin-left: 80px;
    }

    .treatment-list {
      position: relative;
      
      margin-bottom: 10px;

      list-style: none;
      line-height: 28px;

      list-style: none;
      line-height: 28px;

      &:before {
        position: absolute;
        top: 6px;
        left: -30px;

        margin-right: 12px;
        width: 18px;
        height: 18px;

        line-height: 1.6;
        text-align: center;
        font-size: 12px;
        color: $white;
        text-align: center;
        line-height: 1.8;

        background-color: $pastel-blue;
        border-radius: 100%;
      }

      &:nth-child(1):before {
        content: '1';

        top: 6px;
        left: -30px;
      }
      
      &:nth-child(2):before {
        content: '2';

        position: absolute;
        top: 6px;
        left: -30px;

        margin-right: 12px;
        width: 18px;
        height: 18px;

        line-height: 1.6;
        text-align: center;
        font-size: 12px;
        color: $white;

        background-color: $pastel-blue;
        border-radius: 100%;
      }

      &:nth-child(3):before {
        content: '3';
        
        position: absolute;
        top: 6px;
        left: -30px;

        margin-right: 12px;
        width: 18px;
        height: 18px;

        line-height: 1.6;
        text-align: center;
        font-size: 12px;
        color: $white;

        background-color: $pastel-blue;
        border-radius: 100%;
      }
    }
  }

  .section-quotation-slider {
    background-color: $tortoise;

    .swiper-container {
      height: 44vh;

      .swiper-slide {
        padding-top: 55px;
        width: 500px;

        font-size: 30px;
        font-family: $font-Spectral-Medium;
        text-align: center;
      }
      
      .content-holder {
        margin-right: auto;
        margin-left: auto;
        width: 500px;

        .content-swiper {
          color: $pastel-pink;
          font-size: 30px;
        }
        
        .bottom-text {
          font-size: 18px;
          color: $pastel-pink;
        }
      }

      .swiper-pagination-bullet {
        background-color: $pastel-pink;
      }

      .swiper-pagination-bullets {
        top: 290px;
      }
    }
    .bottom-reviews {
      margin-top: -90px;
      padding-bottom: 50px;

      color: $pastel-pink;
      font-size: 17px;
      font-family: $font-Spectral-Medium;
      
    }
  }

  .section-how-it-works {
    padding-top: 98px;
    padding-bottom: 79px;

    .image-holder {
      max-width: 90%;
      margin-left: auto;
    }

    .content {
      height: 313px;
      max-width: 65%;
      margin-left: 10px;
    }

    .title {
      margin: 35px 0;
      max-width: 200px;
    }

  .section-anxiety-solutions {
    background-color: $lavender;

    .image-holder {
      max-width: 85%;
      margin-left: auto;
    }

    .content {
      max-width: 354px;
      margin-left: 144px;
    }

    .title {
      margin: 30px 0;
    }
  }

  .section-how-it-works {

    .title {
      font-size: 25px;
      margin-bottom: 70px;
    }

    .content {
      margin: 100px 0;

    }

    .works-list {
      display: flex;
      flex-direction: row; 
      justify-content: center;
      justify-content: space-between;
      max-width: 67%;
      margin-right: auto;
      margin-left: auto;
    }

    .works-item {
      position: relative;

      padding-top: 30px;
      
      font-family: $font-Spectral-Medium;
      font-weight: 300;
      list-style: none;
      color: $violet;

      &:nth-child(1):before {
        content: '1';
        position: absolute;
        top: -4px;
        left: 40px;
        
        width: 18px;
        height: 18px;
        line-height: 1.6;
        text-align: center;
        font-size: 12px;
        color: #fff;

        background-color: #8096ab;
        border-radius: 100%;
      }
      
      &:nth-child(2):before {
        content: '2';
        position: absolute;
        top: -4px;
        left: 30px;
        
        width: 18px;
        height: 18px;
        line-height: 1.6;
        text-align: center;
        font-size: 12px;
        color: #fff;

        background-color: #8096ab;
        border-radius: 100%;
      }

      &:nth-child(3):before {
        content: '3';
        position: absolute;
        top: -4px;
        left: 40px;
        
        width: 18px;
        height: 18px;
        line-height: 1.6;
        text-align: center;
        font-size: 12px;
        color: #fff;

        background-color: #8096ab;
        border-radius: 100%;
      }

      &:nth-child(4):before {
        content: '4';
        position: absolute;
        top: -4px;
        left: 40px;
        
        width: 18px;
        height: 18px;
        line-height: 1.6;
        text-align: center;
        font-size: 12px;
        color: #fff;

        background-color: #8096ab;
        border-radius: 100%;
      }
    }

    .works-item:after {
      content: '';
      position: absolute;
      top: -11px;
      left: 67px;
      right: 0;
      margin: 0 auto;
      width: 150px;
      height: 16px;
      border-bottom: 2px solid #8096ab;
    }

    .works-item:last-child:after {
      display: none;
    }
  }
  
  .section-questions-answered {
    padding: 43px 0 83px;
    
    background-color: $violet;

      width: 166px;
      height: 44px;
      
      font-family: $font-Spectral-Regular;
      font-size: 20px;
      text-align: center;
      line-height: 24px;
    }

    .work-item::before {
      content: attr(data-attribute);

      position: absolute;
      top: -35px;
      right: 0;
      left: 0;

      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      width: 18px;
      height: 18px;

      font-family: $font-Spectral-Medium;
      font-size: 14px;
      color: $attribute;
      text-align: center;
      line-height: 22px;

      background-color: $pastel-blue;
      border-radius: 100%;
    }

    .work-item::after {
      content: " ";

      position: absolute;
      top: -42px;
      right: 0;
      left: 98px;

      margin: 0 auto;
      width: 150px;
      height: 16px;

      border-bottom: 2px solid $pastel-blue
    }

    #four::after {
      content: none;
    }
  }
}

@include respond-to(md) {
  .home {
    .section-how-it-works {
      padding-bottom: 0;
    }
  }
}

@include respond-to(sm) {
  .home {
    .section-press {
      .logo-holder {
        flex-wrap: wrap;
        padding-top: 30px;
        padding-bottom: 40px;
        width: 100%;
      }
    }

    .section-help-products {
      .product-holder {
        width: 80%;

        .item {
          &:first-child {
            .prod-image {
              width: 215px;
            }
          }

          &:nth-child(2) {
            margin: 25px 0 25px;

            .prod-image {
              width: 215px;
            }
          }
        }
      }
    }

    .section-how-it-works {
      padding-bottom: 0;

      .work-list {
        display: block;
        margin: 55px auto 20px;
        width: 100%;
      }

      .work-item {
        margin-bottom: 80px;
        width: 100%;
      }

      .work-item::before {
        top: -28px;
      }

      .work-item::after {
        top: 52px;
        left: 0;

        width: 48px;
        height: 2px;

        transform: rotate(90deg);
      }
    }
  }
}

@include respond-to(xs) {
  .home {
    .section-press {
      .logo-holder {
        flex-wrap: wrap;

        padding-top: 30px;
        padding-bottom: 40px;
        width: 100%;
      }
    }

    .section-help-products {
      .product-holder {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;

        .item {
          &:first-child {
            .prod-image {
              width: 300px;
            }
          }

          &:nth-child(2) {
            margin: 25px 0 25px;

            .prod-image {
              width: 300px;
            }
          }
        }
      }
    }

    .section-how-it-works {
      padding-bottom: 0;

      .work-list {
        display: block;
        margin: 55px auto 20px;
        width: 100%;
      }

      .work-item {
        margin-bottom: 80px;
        width: 100%;
      }

      .work-item::before {
        top: -28px;
      }

      .work-item::after {
        top: 52px;
        left: 0;

        width: 48px;
        height: 2px;
        
        transform: rotate(90deg);
      }
    }
  }
}


@include respond-to(sm-down) {
  .home {
    .section-personalized {
      .title {
        width: 100%;

        font-size: 24px;
        line-height: 27px;
      }

      .treatment-list {
        font-size: 16px;
      }

      .content {
        margin: 0;
        padding: 55px 15px;

        width: 100%;
        height: auto;
      }

      .image-holder {
        display: none;
      }
    }

    .section-quotation-slider {
      .swiper-slide {
        padding-top: 20px;
      }

      .swiper-container {

        .swiper-slide {
          padding-top: 40px;
        }

        .swiper-pagination-bullets {
          top: 243px;
        }

        .content-holder {
          width: auto;
          
        }
      }

      .content-holder {
        width: auto;
        .content-swiper {
          font-size: 20px;
        }
      }
    }

    .section-sleep-solutions {

      .title {
        margin: 15px 0;
        max-width: 100%;

        font-size: 24px;
      }

      .content {
        margin: 0;
        padding: 55px 15px;
        
        max-width: 100%;
        width: 100%;
        height: auto;
      }
      
      .image-holder {
        display: none;
      }
    }

    .section-anxiety-solutions {

      .title {
        margin: 15px 0;
        max-width: 100%;

        font-size: 24px;
      }

      .content {
        margin: 0;
        padding: 55px 15px;
        
        width: 100%;
        height: auto;
      }

      .image-holder {
        display: none;
      }
    }

    .section-how-it-works {
      .content {
        margin: 0;
        padding: 55px 15px;
      }

      .title {
        margin-bottom: 0;
      }
      .works-list {
        flex-direction: column; 
        max-width: 100%;
        padding: 0;
        margin: 0;
      }

      .works-item {
        padding-top: 60px;
      }

      .works-item:after {
        content: '';
        position: absolute;
        top: 120px;
        left: 18px;
        right: 0;
        margin: 0 auto;
        width: 39px;
        height: 16px;
        border-bottom: 2px solid #8096ab;
        transform: rotate(90deg);
      }

      .works-item{
        &:nth-child(1):before {
          top: 45px;
          left: 48%;
        }
        &:nth-child(2):before {
          top: 45px;
          left: 48%;
        }
        &:nth-child(3):before {
          top: 45px;
          left: 48%;
        }
        &:nth-child(4):before {
          top: 45px;
          left: 48%;
        }
      }
    }
  }
}

@include respond-to(sm-up) {
  .home {
    .section-personalized {
      .title {
        width: 100%;

        font-size: 24px;
        line-height: 27px;
      }

      .treatment-list {
        font-size: 16px;
      }

      .content {
        margin: 0;
        padding: 55px 15px;

        width: 100%;
        height: auto;
      }

      .image-holder {
        margin-left: 10px;

        img {
          padding: 0;
          max-width: 100%;
        }
      }
    }

    .section-quotation-slider {
      .swiper-slide {
        padding-top: 20px;
      }

      .swiper-container {

        .swiper-slide {
          padding-top: 40px;
        }

        .swiper-pagination-bullets {
          top: 243px;
        }

        .content-holder {
          width: 100%;
          
        }
      }

      .content-holder {
        width: auto;
        .content-swiper {
          font-size: 20px;
        }
      }
    }

    .section-sleep-solutions {

      .title {
        margin: 15px 0;
        max-width: 100%;

        font-size: 24px;
      }

      .content {
        margin: 0;
        padding: 55px 15px;
        
        max-width: 100%;
        width: 100%;
        height: auto;
      }
      
      .image-holder {
        margin-left: 10px;
        
        img {
          padding: 0;
          max-width: 100%;
        }
      }
    }

    .section-anxiety-solutions {

      .title {
        margin: 15px 0;
        max-width: 100%;

        font-size: 24px;
      }

      .content {
        margin: 0;
        padding: 55px 15px;
        
        width: 100%;
        height: auto;
      }

      .image-holder {
        margin-left: 10px;
        
        img {
          padding: 0;
          max-width: 100%;
        }
      }
    }

    .section-how-it-works {
      .content {
        margin: 0;
        padding: 55px 15px;
      }

      .title {
        margin-bottom: 0;
      }
      .works-list {
        flex-direction: column; 
        max-width: 100%;
        padding: 0;
        margin: 0;
      }

      .works-item {
        padding-top: 60px;
      }

      .works-item:after {
        content: '';
        position: absolute;
        top: 120px;
        left: 18px;
        right: 0;
        margin: 0 auto;
        width: 39px;
        height: 16px;
        border-bottom: 2px solid #8096ab;
        transform: rotate(90deg);
      }

      .works-item{
        &:nth-child(1):before {
          top: 45px;
          left: 48%;
        }
        &:nth-child(2):before {
          top: 45px;
          left: 48%;
        }
        &:nth-child(3):before {
          top: 45px;
          left: 48%;
        }
        &:nth-child(4):before {
          top: 45px;
          left: 48%;
        }
      }
    }
  }
}
