//main: ../main.scss

/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
}
.home {
  .title {
    font-family: $font-Spectral-Medium;
    color: $violet;
  }

  .description {
    color: $violet;
    font-family: $font-Spectral-Medium;
  }

  .sub-heading {
    font-size: 14px;
    font-family: $font-Spectral-Regular;
    text-transform: uppercase;
    color: $violet;
  }
}
